.banner {
  height: calc(100vh - 105px);
}

@media (min-width: 728px) {
  .banner {
    height: calc(100vh - 110px);
  }

  .productBanner {
    height: calc(100vh - 150px) !important;
  }
}

@media (min-width: 1024px) {
  .banner {
    height: calc(100vh - 210px);
  }
}

@media (min-width: 1280px) {
  .banner {
    height: calc(100vh - 220px);
  }
}