.banner {
  height: calc(100vh - 110px);
}

.banner-calculator {
  height: 70vh;
}

@media (min-width: 728px) {
  .banner {
    height: calc(100vh - 110px);
  }

  .banner-calculator {
    height: 50vh;
  }

}


@media (min-width: 1024px) {
  .banner {
    height: calc(100vh - 210px);
  }
}

@media (min-width: 1280px) {
  .banner {
    /* height: calc(100vh - 220px); */
    height: 600px;
  }

  .banner-calculator {
    height: 42vh;
  }
}

@media (min-width: 1440px) {
  .banner {
    height: 565px;
  }
}

@media (min-width: 1280px) and (min-height: 700px) {
  .productBanner {
    height: calc(100vh - 150px) !important;
  }
}