.banner {
  height: calc(100vh - 110px);
}

.banner-calculator {
  height: 58vh;
}

.animation-title {
  animation-name: animationTitle;
  animation-delay: 0s;
  animation-duration: 4s;
}

.animation-image {
  animation-name: animationImage;
  animation-delay: 0s;
  animation-duration: 1.5s;
}

.animation-text{
  animation-name: animationTitle;
  animation-delay: 0s;
  animation-duration: 4s;
}

@keyframes animationTitle {
  0%{opacity: 0.0;}
  10%{opacity: 0.0;}
  20%{opacity: 0.0;}
  50%{opacity: 0.5;}
  50%{opacity: 0.6;}
  90%{opacity: 0.7;}
  90%{opacity: 0.9;}
  100%{opacity: 1.0;}

}

@keyframes animationImage {
  0%{margin-top: -100rem;}
  100%{margin-top: -0rem;}
}

@media (min-width: 728px) {
  .banner {
    height: calc(100vh - 110px);
  }

  .banner-calculator {
    height: 50vh;
  }

}


@media (min-width: 1024px) {
  .banner {
    height: calc(100vh - 210px);
  }
}

@media (min-width: 1280px) {
  .banner {
    /* height: calc(100vh - 220px); */
    height: 600px;
  }

  .banner-calculator {
    height: 41vh;
  }
}

@media (min-width: 1440px) {
  .banner {
    height: 565px;
  }
}

@media (min-width: 1280px) and (min-height: 700px) {
  .productBanner {
    height: calc(100vh - 150px) !important;
  }
}