.top-shadow {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.shadow-comingSoon {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
}

.animate__faster300 {
  --animate-duration: 0.3s;
}

.animate__faster200 {
  --animate-duration: 0.2s;
}

.text_withoutbg {
  -webkit-text-stroke: 1px #379C93;
  color: transparent;
}

.max_size_shoppingcar {
  max-height: calc(100vh - 280px);
}

.animation-buttonWhatsapp{
  animation-name: buttonWhatsapp;
  animation-delay: 0s;
  animation-duration: 0.5s;
}

@keyframes buttonWhatsapp {
  0%{right: 0rem;}
  10%{right: 0rem;}
  20%{right: 0rem;}
  30%{right: 0rem;}
  40%{right: 0rem;}
  50%{right: 0rem;}
  100%{right: 25rem;}
}

.inputWithoutArrow[type="number"]::-webkit-inner-spin-button,
.inputWithoutArrow[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputWithoutArrow[type=number] {
  -moz-appearance: textfield;
}


/*decorar scrollbar de ingredientes*/

.scroll_ingredients::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll_ingredients::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.scroll_ingredients::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scroll_ingredients::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.scroll_ingredients::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.scroll-gray::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll-gray::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
display: none;
} 

.scroll-gray::-webkit-scrollbar:horizontal {
height: 1px;
}

.scroll-gray::-webkit-scrollbar:vertical {
width: 10px;
}

.scroll-gray::-webkit-scrollbar-thumb {
background-color: #7AC5BE;
border-radius: 20px;
border: 2px solid #f1f2f3;
}

.scroll-gray::-webkit-scrollbar-track {
border-radius: 10px;  
}